asn1crypto==1.2.0
attrs==19.3.0
base58==1.0.3
certifi==2019.6.16
cffi==1.13.1
chardet==3.0.4
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.9.2
dnspython==1.16.0
enum34==1.1.6
Flask==1.1.2
flask-talisman==0.7.0
Flask-WTF==0.14.3
functools32==3.2.3.post2
gunicorn==19.9.0
idna==2.8
importlib-metadata==1.6.0
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.2.0
lxml==4.6.3
MarkupSafe==1.1.1
pathlib2==2.3.5
pycparser==2.19
git+https://github.com/adamyi/pyjwt@dfd9448a85a280143065e60a570ad196ba480642
pyrsistent==0.16.0
requests==2.22.0
scandir==1.10.0
six==1.12.0
urllib3==1.25.3
uuid==1.30
Werkzeug==0.15.5
WTForms==2.3.1
zipp==1.2.0
